h2 {
    background-color: orange;
    color: rgb(0, 225, 255);
    width: auto;
    height: auto;
    margin: 1%;
    padding: 1%;
    text-align: center;
    box-shadow: 0 0 50px gold;
    
}

.help {
    background-color: chocolate;
    color: darkblue;
    padding: 5%;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

h1 {
    background-color: orange;
    color: rgb(0, 247, 255);
    height: auto;
    width: auto;
    margin: 10%;
    padding: 10%;
    text-align: center;
    box-shadow: 0 0 50px gold;
}

.pop {
    background-color: orange;
    color: rgb(30, 255, 0);
    width: auto;
    height: auto;
    margin: 5%;
    padding: 10%;
    text-align: center;
    box-shadow: 0 0 50px gold;
}

p {
    background-color: rgb(102, 210, 30);
    color: darkblue;
    padding: 20%;
    margin: 5%;
}

ol, ul {
    background-color: rgb(111, 210, 30);
    color: rgb(139, 39, 0);
    padding: 20%;
    margin: 5%;
}

img {
    height: auto;
    width: auto;
}

.rat {
    background-color: rgb(0, 255, 157);
    color: rgb(255, 102, 0);
    width: auto;
    height: auto;
    margin: 10%;
    padding: 10%;
    text-align: center;
    box-shadow: 0 0 50px gold;
    border: 10px solid cornsilk;
}

.mar {
    background-color: rgb(0, 247, 255);
}