h1 {
    background-color: #e27d60;
    box-shadow: 0 0 100px 0 #E8A87C;
    color: #85DCB0;
    padding: 20%;
    margin: 5%;
    font-size: 50px;
    font-family: Impact, sans-serif;
    text-align: center;
}

.rat {
    background-color: #C38D98;
    font-size: 15px;
    padding: 5%;
    margin: 5%;
    font-family: 'Times New Roman';
    text-align: center;
    box-shadow: 0 0 50px 0 red; 
    
}
  
a {
    font-size: 40px;
    font-style: italic;
    margin: 1%;
    color: greenyellow;
}

p {
    background-color: blueviolet;
    color: chartreuse;
    box-shadow: 0 0 100px 0 yellow;
    padding: 5%;
    text-align: left;
    width: auto;
    height: auto;
}

.hello {
    background-color: yellowgreen;
    color: violet;
    width: 50%;
    height: 5%;
}

ol {
    color: tomato;
    text-align: center;
    box-shadow: violet;
}